.columnForm {
    padding: 10px;
    text-align: center;

    span {
        margin: 5px;
    }
};

@media (max-width: 767px) {
    .columnForm {
      width: 50%;
      margin-left: auto;
      margin-right: auto;
    }
}
