.listForm {
    margin: 5px;
    padding: 10px;
    text-align: center;

    span {
        margin: 10px;
        font-size: 20px;
    }
};

@media (max-width: 767px) {
    .listForm {
      width: 50%;
      margin-left: auto;
      margin-right: auto;
    }
}